asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "4.0"
cryptography==44.0.0 ; python_version >= "3.12" and python_version < "4.0"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4.0"
django-oauth-toolkit==3.0.1 ; python_version >= "3.12" and python_version < "4.0"
django-rest-knox==5.0.2 ; python_version >= "3.12" and python_version < "4.0"
django==5.1.6 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework-simplejwt==5.4.0 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
jwcrypto==1.5.6 ; python_version >= "3.12" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
